@import "./abstract/variables";
body{
    font-family: $tipo-letra;
}
@import "./abstract/mixin";
@import "./abstract/animaciones";
@import "./abstract/maps";
@import "./components/footer";
@import "./components/header";
@import "./components/main";
@import "./components/discografia";
@import "./components/merch";

p{
    text-align: $centerposition;
    padding: $pdn;
}
.video-vida{
    iframe{
        width: calc($anchomax/2);
        height: $img-media;
    }
}
@import "./abstract/extend";

